@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
* {
    font-family: 'Roboto', sans-serif;
}
body,html {
    margin: 0;
    padding: 0;
}


#content {
    display: grid;
    grid-template-rows: 70px 30px 6fr 1fr;
    grid-template-columns: repeat(3, 1fr);
    height: calc(100vh - 3px);          /* Add this to make footer appear at bottom of page */
}

#title-banner {
    grid-column: 1/4;
    justify-self: center;
    align-self: center;

    border: solid 1px red;
}

.tabs {
    justify-self: center;
    align-self: center;

    padding: 3px 13px 3px 13px;

    border: solid 1px blue;
    border-radius: 15px;
}
    .tabs:hover {
        background-color: aliceblue;
    }
    .tabs:active {
        background-color: bisque;
    }
#content-page {
    grid-column: 1/4;
}
#container-home, #container-contacts {
    display: grid;
    gap: 20px;
    justify-content: center;
    align-content: center;

    padding: 30px;
    text-align: center;

    border: 1px solid green;
}
    .content-class {
        font-size: 1.5em;
    }
    .content-class2 {
        font-size: 0.9em;

        justify-self: center;
        align-self: center;
    }
#container-menu {
    display: grid;
    grid-template-columns: repeat(auto-fit, 200px);    /* Automatically decides how many 200px columns to create */
    gap: 20px;
    justify-content: center;
    align-content: center;

    padding: 30px;

    border: 1px solid red;
}
    .food-class {
        display: grid;
        border: 1px solid orange;
    }
    .food-class:hover {
        background-color: aliceblue;
    }
        .food-title {
            font-weight: bold;
            font-size: 1.3em;
        }
        .food-img {

        }
        .food-desc {
            font-size: 1.3em;
        }

#footer {
    grid-column: 1/4;
    justify-self: center;
    align-self: center;
    
    border: solid 1px red;
}